TELEGRAM_BOT_TOKEN=xxxxxxx
TELEGRAM_CHAT_ID=-xxxxxxxx

NEWS_KEYWORDS=두산로보틱스,두산에너빌러티, 알테오젠, 현대차, 삼성SDI, 에코프로, 아모레퍼시픽, SKC, 한화오션, 필옵틱스
POLL_INTERVAL_SECONDS=60

GOOGLE_NEWS_HL=ko
GOOGLE_NEWS_GL=KR
GOOGLE_NEWS_CEID=KR:ko

SENT_STORE_PATH=sent_articles.json

SEND_EXISTING_ON_FIRST_RUN=true
NIGHTLY_DIGEST_ENABLED=true
NIGHTLY_DIGEST_START_HOUR=22
NIGHTLY_DIGEST_SEND_HOUR=7
